{% extends "base.html" %}

{% block content %}
<meta charset="UTF-8">
<style>
   .thumb img  {
    border: 2px solid #55c5e9; /* Рамка вокруг фотографии */
    padding: 15px; /* Расстояние от картинки до рамки */
    background: #666; /* Цвет фона */
    margin-right: 10px; /* Отступ справа */
    margin-bottom: 10px; /* Отступ снизу */
   }
	.rightpic {
    float: right; /* Выравнивание по правому краю */
    margin: 0 0 5px 5px; /* Отступы вокруг фотографии */
   }
   .pointer { cursor: pointer; }
	.sign {
	    float: left; /* Выравнивание по правому краю */
	    padding: 7px; /* Поля внутри блока */
	    margin: 10px 0 5px 5px; /* Отступы вокруг */
	   }
	   .sign figcaption {
	    margin: 0 auto 5px; /* Отступы вокруг абзаца */
	    

	   }

  </style>


<body style="background-color:#FDF4E3">


	<h1 align="center"> <strong> {{p}} </h1>
	{% for picture in pictures %}

	 	{% if p == picture[0] %}
	 	<p><font size="5"><img src="/static/picture/{{picture[3]}}" alt={{picture[0]}} class="rightpic"> 
		  {{picture[4]}}</font></p> 
		{% for museum in museums %}
			{% if museum[0] == picture[1] %}
				<p><font size="5"> Картина находится в музее {{museum[1]}}</font></p> 
				<p><font size="5"> Адрес музея: {{museum[2]}}</font></p> 
				<p><font size="5"><img src="/static/picture/{{museum[1]}}.png" alt="{{museum[3]}}" width=400 height=300> 
			{% endif %}
		{% endfor %}


		{% endif %}
			
			

		{% endfor %}
		{% if current_user.is_authenticated %}

			<a onClick='location.href="https://gallery-yandex.herokuapp.com/like/{{painter}}/{{p}}"' class="btn btn-primary">Мне нравится</a>
		{% endif %}


	
</body>
{% endblock %}
